<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Registration</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">l-scale=1">
<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}">
<script
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
<script
	th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-102021176-1', 'auto');
        ga('send', 'pageview');

	</script>
</head>
</head>
<body>
	<br />
	<br />
	<br />
	<br />
	<div th:replace="fragments/header :: header">...</div>
	<div
		class="middle-box text-center loginscreen animated fadeInDown col-sm-4 col-sm-offset-4">
		<div>

			<hr />

			<h4>New User Registration</h4>

			<form autocomplete="off" action="#" th:action="@{/register}"
				th:object="${user}" method="post" class="m-t" role="form"
				data-toggle="validator">


				<div th:if="${confirmationMessage}" class="alert alert-success"
					role="alert" th:text=${confirmationMessage}></div>

				<div th:if="${alreadyRegisteredMessage}" class="alert alert-danger"
					role="alert" th:text="${alreadyRegisteredMessage}"></div>


				<div th:if="${emailMessage}" class="alert alert-danger"
					 role="alert" th:text="${emailMessage}"></div>

				<div class="form-group input-group has-feedback">
					<span class="input-group-addon"> <span
						class="glyphicon glyphicon-user"></span>
					</span> <input type="text" th:field="*{firstName}"
						placeholder="First Name" class="form-control" required /> <span
						class="glyphicon form-control-feedback" aria-hidden="true"></span>
				</div>
				<div th:if="${#fields.hasErrors('firstName')}"
					th:errors="*{firstName}"
					class="validation-message alert alert-danger" role="alert"></div>

				<div class="form-group input-group has-feedback">
					<span class="input-group-addon"> <span
						class="glyphicon glyphicon-user"></span>
					</span> <input type="text" th:field="*{lastName}" placeholder="Last Name"
						class="form-control" required /> <span
						class="glyphicon form-control-feedback" aria-hidden="true"></span>
				</div>
				<div th:if="${#fields.hasErrors('lastName')}"
					th:errors="*{lastName}"
					class="validation-message alert alert-danger" role="alert"></div>

				<div class="form-group input-group has-feedback">
					<span class="input-group-addon"> <span
						class="glyphicon glyphicon-envelope"></span>
					</span> <input type="email" th:field="*{email}"
						placeholder="Email Address" class="form-control"
						data-error="This email address is invalid" required /> <span
						class="glyphicon form-control-feedback" aria-hidden="true"></span>

				</div>
				<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
					class="validation-message alert alert-danger" role="alert"></div>

				<button type="submit" class="btn btn-primary block full-width m-b">Register</button>

			</form>
			<p class="m-t"></p>
		</div>
		<br /> <br /> <br /> <br />
		<div th:replace="fragments/footer :: footer">...</div>
		<!-- Bootstrap Validator plugin -->
		<script
			src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

	</div>

</body>
</html>