<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update District</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>
    <script
            th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
    <script
            th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-102021176-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">
    <div
            class="middle-box text-center loginscreen animated fadeInDown col-sm-5 col-sm-offset-3">
        <br/> <br/> <br/>
        <hr/>

        <h4 align="center">Update District</h4>
        <form action="#" th:action="@{/district/update}" th:object="${district}"
              method="post" class="form-horizontal" data-toggle="validator">

            <div th:if="${message}" class="alert alert-success" role="alert"
                 th:text=${message}></div>

            <input type="hidden" name="id" th:value="${district.id}"/>

            <div class="form-group input-group has-feedback">
					<span class="input-group-addon"> <span
                            class="glyphicon glyphicon-user"></span>
					</span> <input type="text" th:field="*{districtName}"
                                   placeholder="First Name" class="form-control" required/> <span
                    class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>
            <div th:if="${#fields.hasErrors('districtName')}"
                 th:errors="*{districtName}"
                 class="validation-message alert alert-danger" role="alert"></div>

            <div class="form-group input-group has-feedback">
					<span class="input-group-addon"> <span
                            class="glyphicon glyphicon-phone"></span>
					</span> <input type="text" th:field="*{magistrateNumber}"
                                   placeholder="Magistrate Number" class="form-control" required/> <span
                    class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>
            <div th:if="${#fields.hasErrors('magistrateNumber')}"
                 th:errors="*{magistrateNumber}"
                 class="validation-message alert alert-danger" role="alert"></div>


            <div class="form-group input-group has-feedback">
					<span class="input-group-addon"> <span
                            class="glyphicon glyphicon-user"></span>
					</span> <select th:field="*{mandalID}" class="form-control" required>
                <option th:each="mandal : ${mandalList}" th:value="${mandal.id}"
                        th:text="${mandal.mandalName}"></option>
            </select> <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>
            <div th:if="${#fields.hasErrors('mandalID')}"
                 th:errors="*{mandalID}"
                 class="validation-message alert alert-danger" role="alert"></div>


            <button type="submit" class="btn btn-primary block full-width m-b">Update</button>
        </form>
        <br/> <br/>
        <div th:replace="fragments/footer :: footer">&copy; 2016 Lekhpal Sangh</div>
    </div>
</div>
<!-- Bootstrap Validator plugin -->
<script
        src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
</body>
</html>
